**ZIP**

In [10]:
li1=[1,2,3]
li2=[4,5,6]
li3=[8,9,10]
li4=[]
packlist=zip(li1,li2,li3)
#zip will return tuple of each value 
print(packlist)

for value1,value2,value3 in zip(li1,li2,li3):
  sum=li4.append(value1+value2+value3)
print(li4)

<zip object at 0x7f283c81dac8>
[13, 16, 19]

In [20]:
mytuple=("Name", "age")  # we can zip one tuple and one list also
mylist=["sanket", 24]
pack=zip(mytuple,mylist)   #retun tuple of the values
for i,j in pack:
  print(i,j)   # Name-string sanket-string unpack the each value it will type of string

Name sanket
age 24

In [23]:
mytuple=["Name"]
mylist=["sanket", 24]
pack=zip(mytuple,mylist)   #it will zip with pair rest will ignore
for i in pack:
  print(i)   # ('Name', 'sanket')without unpack directly can see it is tuple

('Name', 'sanket')

In [31]:
mytuple=("Name", "age")
mylist=["sanket", 24]
pack=dict(zip(mytuple,mylist))   #convet zip object into dictionary so conclusion if we can convert tuple to dict it will make key , value pair
print(pack)   #{'Name': 'sanket', 'age': 24}
for i in pack:
 print(pack[i]) # print the value correspondig key 


#output  
#{'Name': 'sanket', 'age': 24}
#sanket
#24

{'Name': 'sanket', 'age': 24}
sanket
24

**Split and Join**

In [35]:
#it is will split the string and return the list of value
st="abbsfs123adjash123sdfsdj123"

st.split(' ')    #['abbsfs', 'adjash', 'sdfsdj', '']

print(st)

abbsfs123adjash123sdfsdj123

In [39]:
#join()  it will join the items of list with provided string

myList=["This","is","Sanket","Singhai"]
print("#".join(myList))   #This#is#Sanket#Singhai

This#is#Sanket#Singhai

In [ ]:
Lamda Funtion

**Lambda Funtion**

In [40]:
# it is anonymous funtions which will have only one expression with multiple agruments
square=lambda number: number**2
print(square(25))

625

**MAP Funtion**

In [41]:
#2 arguments, funtion and iterable object

def square(number):
  return number**2
number=[1,2,3,4]
sq=list(map(square,number))
print(sq)

[1, 4, 9, 16]

In [42]:
# Combination of MAP and lambda funtions

print(list(map(lambda x:x**2, number)))

[1, 4, 9, 16]

**Filter Funtion**

In [45]:
#filter funtion will filter out the values as per return of the funtions
#Take a example what is need to filter

n=[1,2,3,4]
def even(n):
  if n%2==0:
    return n
map_output=list(map(even,n))
print(map_output)  #[None, 2, None, 4]  map will return None value for false condition also to avoid this we need to use filter funtion
filter_output=list(filter(even,n))
print(filter_output)  #[2, 4]  so it is returuning only true value

[None, 2, None, 4]
[2, 4]

In [49]:
#Prime number

def isPrime(num):
  for i in range(2,int((num**0.5))+1):
    if num%i==0:
      return False
  else:
    return True
isPrime(13)

#List of prime number from 2, 100

primeList=list(filter(isPrime,range(2,101)))
print(primeList)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

**Reduce**

In [53]:
import functools
def mul(a,b):
  return a*b

fact=functools.reduce(mul, range(1,6))

print(fact)

120